!!! 5
//[if lt IE 7] %html{:lang => "en" :class="no-js lt-ie9 lt-ie8 lt-ie7"}
//[if IE 7] %html{:lang => "en" :class="no-js lt-ie9 lt-ie8"}
//[if IE 8] %html{:lang => "en" :class="no-js lt-ie9"}
%html{:lang => "en", :class=>"no-js"}

  %head
    %meta{:charset => "utf-8"}

    // mobileness
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    // meta title
    %title {{ site.name }}

    // page specific seo keywords and meta description 
    {{ page.keywords }}
    {{ page.description }}

    %meta{:content => "", :name => "author"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    // Le HTML5 shim, for IE6-8 support of HTML elements

    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    // stylesheet    
    {{ 'screen' | stylesheet_tag }}

    // http://modernizr.com/
    // javascript library to check if the current browser is compatible with css3 and HTML5 markup
    // Bootstrap cover most of the features of modernizr
    //{{ 'modernizr-2.5.2.min.js' | javascript_tag}}  

  // The id of the body is the locomtive page's slug   
  %body{:id=>"{{page.slug}}"} 
    // main_container is the entire web page. Useful with the css overflow property 
    #main_container.clearfix
      
      // first section of the web page is the header section
      %header
        {% block 'footer' %}
        //semantic markup for the navigation
        #logonav
          #logonav_inner
            //wrapper is the "container" that will center the text in the div
            .wrapper          
              %a.brand{:href => "#"} {{ site.name }}
              %ul.nav
                %li.active
                  %a{:href => "#"} Home
                %li
                  %a{:href => "#about"} About
                %li
                  %a{:href => "#contact"} Contact
        {% endblock %}

      // second section of the web page is the div main section          
      #main
        {% block 'main' %} 
        .wrapper          
          .hero-unit
            %h1 Hello, world!
            %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            %p
              %a.btn.primary.large Learn more »
          
          .main_content
            .inside_content
              %h2 Heading
              %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              %p
                %a.btn{:href => "#"} View details »
            .inside_content
              %h2 Heading
              %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              %p
                %a.btn{:href => "#"} View details »
            .inside_content
              %h2 Heading
              %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              %p
                %a.btn{:href => "#"} View details »

      {% endblock %}

    // third section of the web page is the footer section        
    %footer
      {% block 'footer' %}
      .wrapper  
        %p © Company 2012
      {% endblock %}


    // load all the javascript library at the end of the html document
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
       
    // locomotive liquid tag to allow inline editing   
    {% inline_editor %}
  
    // google analytics code
    {% google_analytics 'UA-XXXXX' %}     