// Modules 
@import "compass/utilities";
@import "compass/css3";
@import "bootstrap";
@import "bootstrap-responsive";

// Fonts
$base-font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
$base-font-size: 95%;

@mixin text-default {
  font: 12px "Helvetica", "Arial", sans-serif; 
  color: #333;
}

// color
$base-link-color: #0066cc;
$alt-link-color: red;


